<<<<<<< HEAD
.title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase;
  &_left {
    font-size: 36px;
    color: #ffffff;
    text-align: left;
  }
}
=======
.title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #0d0d0d;
  text-transform: uppercase;
  &_left {
    font-size: 36px;
    color: #ffffff;
    text-align: left;
  }
}
>>>>>>> 25182ac9d077993c63088dd63fc6dd6a67974ded
